body{
    min-height:100vh;
}
.footer{
    background-color: rgb(141, 214, 141);
    color:rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    left: 0;
    bottom: 0;
   }

ul.list-group li{
    list-style:none;
}

img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    }

#register .card,
#login .card{
    background-color: rgba(0, 0, 0, 0.5);
}

#login .farmer{
    position:relative;

}
#login .farmer img{
    /* border-top-left-radius:50%; */
    /* background-color:turquoise; */
    position:absolute;
    bottom:0;
    /* width:auto; */
    height:25rem;
    right:0;
    object-fit:cover;

}
.signinbutton,
.registerbutton{
    border-radius:20rem;

}