* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#home .farmer img {
    width: 100%;
}
#register .card,
#login .card{
    background-color: rgba(0, 0, 0, 0.5);
}
.signinbutton,
.registerbutton{
    border-radius:20rem;

}

#myfeed .card img
{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
#articles .card
{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

